body{
    background-color: #2B002B;
    font-family: 'Crimson Text';
}

div.header{
    background-color: #4C0066;
    width: 640px;
}

h1.header{
    color: white;
    font-size: 48pt;
    margin: 10px;
    font-weight: normal;
    font-color: white;
}

img.header{
    width: 160px;
    height: 160px;
}

.wrapper{
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    background-color: #B88AE6;
    padding: 0px;
}

.tech-text{
    text-align: center;
    color: #E0B2E0;/*#D6ADD6;*/
}

.content{
    padding: 10px;
}

table.wrapper{
    border-spacing: 0px;
    padding: 0px
}

td.nospace{
    padding: 0px
}

.sidebar{
    width: 160px;
    background-color: #833083;
    vertical-align: top;
}

.sidebar-link{
    background-color: #FFFFFF;
    margin-top: 2px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.link-text{
    text-decoration: none;
    color: #290029;
}

.tech-link{
    color: #833083;
}

.divider{
    margin-top: 20px;
    margin-bottom: 20px;
}