body{
    background-color: #2B002B;
}

.header{
    background-color: #833083;
}

h1.header{
    color: white;
}

.wrapper{
    width: 650px;
    margin-left:auto;
    margin-right:auto;
    background-color: #B88AE6;
}

